site_name: ASL Trunk robot
site_description: ASL Trunk robot documentation
site_url: https://hbuurmei.github.io/asl_trunk
theme:
  name: material
  favicon: favicon-robot.png
  logo: ASL_Logo_White.png
  palette:
    primary: custom

nav:
  - Home: index.md
  - Contributing: contributing.md

extra_css:
  - stylesheets/extra.css
