site_name: ASL Trunk robot
site_description: ASL Trunk robot documentation
site_url: https://hbuurmei.github.io/asl_trunk
theme:
  name: material
  favicon: assets/favicon-robot.png
  logo: assets/asl-white.png
  palette:
    primary: custom
  features:
    - content.code.copy
nav:
  - Home: index.md
  - Motion Capture: mocap.md
  - Motor Control: motor_control.md
  - Contributing: contributing.md
extra_css:
  - stylesheets/extra.css
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences