site_name: ASL Trunk robot
site_description: ASL Trunk robot documentation
site_url: https://hbuurmei.github.io/asl_trunk

repo_url: https://github.com/hbuurmei/asl_trunk
repo_name: hbuurmei/asl_trunk

theme:
  name: material
  favicon: assets/favicon-robot.png
  logo: assets/asl-white.png
  palette:
    primary: custom
  features:
    - content.code.copy
extra_css:
  - stylesheets/extra.css

nav:
  - Introduction: index.md
  - Motion Capture: mocap.md
  - Motor Control: motor_control.md
  - Collecting data: collecting_data.md
  - Video Streaming: video_streaming.md
  - Contributing: contributing.md

markdown_extensions:
  - attr_list
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.arithmatex:
      generic: true
extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js
